body {
	 background-color: black;
}




div#testcustom {
	 opacity: 0.0;
	 color: white;
	 width: 300px;
	 height: 200px;
	 position: absolute;
	 font-family: verdana;
	 font-size: 12px;
	 background-color: maroon;
	 top: 25;
	 left: 550;
	 overflow: hidden;
}
div#nebulosholder {
	 width: 300px;
	 height: 200px;
	 background-color: white;
}

p {
	 padding: 8px;
}





div#testcarousel {
	 opacity: 0.0;
	 background-color: black;
	 width: 300px;
	 height: 300px;
	 position: absolute;
	 top: 150;
	 left: 150;
	 overflow: hidden;
}

div.metrocarousel_image {
	 width: 300px;
	 height: 300px;
}


div.metrocarousel_banner {
	 background-color: black;
	 width: 100%;
	 height: 30px;  // MANDATORY
}

div.metrocarousel_labeltext {
	 color: white;
	 text-align: right;
	 padding-right: 18px;
	 position: relative;
	 font-size: 22px;
	 font-family: 'Sansita One', cursive;
}








div#testbignum {
	 opacity: 0.0;
	 background-color: steelblue; 
	 width: 285px;
	 height: 200px;
	 position: absolute;
	 top: 550;
	 left: 250;
	 font-family: "Bowlby One SC", arial;
	 overflow: hidden;
}

div.metrobignum_bignum {
	 color: white;
	 text-align: center;
	 font-size: 80px;
}
div.metrobignum_labeltext {
	 color: lightblue;
	 text-align: center;
	 font-size: 26px;
	 font-family: "Voltaire", arial;
}
