.color-bg {
	 color: #000000;
}
.color-fg {
	 color: #FFFFFF;
}
.color-a1, .color-a2, .color-a3 {
	 color: #FFFFFF;
}



body {
	 background-color: black;
}

canvas {
	 background-color: black;
	 width: 1100px;
	 height: 700px;
}


p {
	 background-color: red;
	 color: white;
}
